h1 {
    color: hsl(288, 63%, 3%); /* cor do texto */
    font-family: Arial, sans-serif; /* fonte do texto*/
}
/* estilo para parágrafos (p) */
p{
    font-size:16x; /*tamanho da fonte */
    line-height: 1.4; /*espaçamento rntre linhas*/
}
/*estilo para a imagem*/
img{
    max-width: 20%;/* largura máxima da imagem*/
    height: auto; /* altura automática proporcional*/
    margin: 20px 0; /* margem superior e inferior*/
}
    /*estilo para links (a) */
    a {
        color: hwb(188 36% 2%); /*cor do link*/
        text-decoration: none; /* remover sublinhado padrão*/
    }

    /* estilo para links quando o mouse passa por cima (houver)*/
    a:hover {
        color:#ed0909; /* cor do link*/
        text-decoration: underline; /*sublinhado ao passa o mouse*/
    }

    /* estilo para o botão*/
    .botao-simples {
        background-color: #270219; /*cor de fundo do botão*/
        color: #ea4dea; /* cor de texto do botão*/
        font-size: 16px; /*tamanho da fonte */
        padding: 10px 20px; /*esoaçamento interno do botão*/
        border: none; /* remove a borda do botão */
        cursor: pointer; /*altera o cursor ao passar sobre o botão */
    }

    /*estilo para o botão quando o mouse passa por cima (houver) */
    .botao-simples:hover {
        background-color: #2cb7b7; /*cor de fundo alterada ao passar o mouse */
    }
